*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Poppins&display=swap');

body {

  color: #aaa;
  background-color: #272b30;

  font-family: 'Segoe UI','sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-bg{
  background-color: #32383e;
}

.card:hover{
  transform: scale(1.03)
}


.nav-link:hover{
  color: white;
}
.navbar-brand {
  font-family: 'kalam','monospace' !important;
}
.offline{
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  z-index: 999;
  padding: 1rem;
  color: white;
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameDetails{
  height:24px ;
}
@media only screen and (max-width: 600px) {
  .w-50{
      width: 100% !important;
  }
}
